/*! GENERAL  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
span {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

span {
  color: #02d9a5;
}

.m10 {
  margin: 0 10px;
}

.btn {
  padding: 18px 45px;
  background-color: transparent;
  border-radius: 100em;
  position: relative;
}

.green {
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, 0.35);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}

.btn.green:hover {
  background-image: linear-gradient(271deg, #1b1b1b 0%, #424242 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.35);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.black {
  background-image: linear-gradient(271deg, #1b1b1b 0%, #424242 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.35);
}

.btn.black:hover {
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, 0.35);
}

/*! HEADER  */

.top-header {
  height: 30px;
  background-color: #3b3b3b;
  color: white;
  display: flex;
  font-size: 80%;
}

.container-header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone i {
  margin-right: 5px;
}

.top-header a {
  color: white;
  padding: 0 5px;
}

.main-header {
  height: 100px;
}

.main-header nav ul {
  display: flex;
}

.main-header nav li {
  list-style: none;
  padding: 0 20px;
  text-transform: uppercase;
}

.main-header nav a {
  text-decoration: none;
  color: #3d3d3d;
}

.cta a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-right: 30px;
}

.cta i {
  color: #02d9a5;
}

/*! JUMBO  */

.jumbo {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #fafafa;
}

.jumbo-text,
.jumbo-img {
  width: 50%;
  height: 100%;
  position: relative;
}

.text-area {
  position: absolute;
  width: 75%;
  left: 20%;
  top: 47%;
  z-index: 1;
  transform: translateY(-50%);
}

.jumbo-text .text-area h3 {
  text-transform: uppercase;
  color: #02d9a5;
  letter-spacing: 0.5em;
  padding-bottom: 10px;
}

.jumbo-text .text-area h1 {
  font-size: 4em;
}

.jumbo-img img {
  height: 100%;
  position: absolute;
  right: -20%;
  top: -3%;
}

.divider {
  height: 7px;
  width: 20px;
  background-color: transparent;
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  border-radius: 100em;
  margin: 50px 0;
  position: relative;
}

.divider::after {
  display: inline-block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: transparent;
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  border-radius: 100em;
  position: absolute;
  left: 140%;
}

.text-area p {
  color: #393939;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: lighter;
}

.text-area a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 30px;
  text-transform: uppercase;
}

.social-text a {
  color: #393939;
  margin-top: 80px;
  font-weight: bold;
  padding: 0 10px;
}

.num-slider {
  display: flex;
  position: absolute;
  right: -10%;
  bottom: 20%;
  padding: 3px;
  background-image: linear-gradient(271deg, #1b1b1b 0%, #424242 100%);
  color: white;
  border-radius: 100em;
  z-index: 5;
}

.num-slider div {
  padding: 10px 20px;
  border-radius: 100em;
  font-size: 1.3em;
  color: #989898;
  cursor: pointer;
}

.num-slider div.active {
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
}

/*! BODY  */

.second,
.third,
.four {
  min-height: 110vh;
  display: flex;
  align-items: center;
}

/*.. 2  */

.second .text {
  width: 40%;
  padding: 40px;
}

.second .text h2,
.third-text h2,
.six .title h2 {
  font-size: 4em;
}

.second .text a,
.third-text a,
.four a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}

.second .icons {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.second .icons .icon {
  width: calc(100% / 2 - 40px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.14);
  margin: 20px;
}

.second .icons .icon i {
  font-size: 3em;
  color: #02d9a5;
}

.second .icons .icon h3 {
  font-size: 2em;
  margin: 30px 0;
}

.second .icons .icon p,
.third-text p,
.row-text-right p {
  color: #989898;
  line-height: 1.6;
}

/*.. 3  */

.third {
  background-color: #fafafa;
}

.third-img {
  width: 50%;
  position: relative;
}

.third-text {
  width: 50%;
  padding: 0 150px 0 0;
}

.third-img {
  height: 100%;
}

.img-back {
  position: absolute;
  width: 600px;
  height: 500px;
  background-image: url(img/busy-architect-PYVKWM4-1024x872.jpg);
  top: 50%;
  transform: translateY(-50%);
  background-position-y: 40%;
  background-position-x: 20%;
  border-radius: 0 20px 0 0;
}

.img-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(269deg, #02d9a3d8 0%, #90e062c7 100%);
  border-radius: 0 20px 0 0;
  position: relative;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.267);
}

.img-split-top {
  margin-top: 30px;
  height: 200px;
  width: 600px;
  position: absolute;
  background-image: url(img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg);
  background-position-y: 20%;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: 600px;
  top: 200px;
  left: 20%;
  transform: translateY(-50%);
  border-radius: 0 20px 0 0;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.288);
}

.img-split-bottom {
  margin-top: 30px;
  height: 200px;
  width: 600px;
  position: absolute;
  background-image: url(img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg);
  background-position-y: 90%;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: 600px;
  top: 400px;
  left: 15%;
  transform: translateY(-50%);
  border-radius: 0 0 0 20px;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.262);
}

/*.. 4  */

.four {
  flex-wrap: wrap;
}

.row-text {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-self: start;
}

.row-text .divider {
  margin: 0;
}

.row-text .divider:first-child {
  margin-bottom: 30px;
}

.row-text .divider:last-child {
  margin-top: 30px;
}

.row-text-left {
  font-size: 2.3em;
  padding: 30px;
  width: 43%;
}

.row-text-right {
  width: 57%;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}

.row-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row-gallery img {
  width: calc(25% - 6px);
  margin: 3px;
}

.four-cta {
  flex-grow: 2;
  padding: 100px 0;
  text-align: center;
}

/*.. 5  */

.five {
  height: 100vh;
}

.banner {
  height: 90%;
  background-image: url(img/four-businesspeople-in-a-boardroom-with-paperwork-PC4V8H4.jpg);
  background-size: cover;
}

.banner .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  color: white;
}

.banner .layover span {
  font-size: 8em;
  font-family: cursive;
}

.banner .layover h2 {
  font-size: 1.8em;
  width: 50%;
  text-align: center;
  font-weight: lighter;
  line-height: 1.4;
}

.banner .layover img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 100px;
  border: 2px solid white;
}

.banner .layover p {
  font-size: 1.5em;
  color: #02d9a5;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/*.. 6 */

.six {
  height: 120vh;
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.six .title h2 {
  width: 100%;
  text-align: center;
}

.six .title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
}

.blog {
  width: 100%;
  display: flex;
}

.blog-article {
  width: calc(100% / 3 - 40px);
  height: 400px;
  background-size: cover;
  margin: 0 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  position: relative;
}

.a1 {
  background-image: url(img/a1.jpg);
}

.a2 {
  background-image: url(img/a2.jpg);
}

.a3 {
  background-image: url(img/a3.jpg);
}

.blog-info {
  width: 90%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 40px 60px;
}

.blog-info h2 {
  position: relative;
}

.blog-info p {
  color: #989898;
  margin-bottom: 5px;
}

.six .divider {
  margin-left: -18px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #02d9a5;
  position: absolute;
  top: 50%;
  right: 101%;
  transform: translate(-50%, -50%);
}

.six .cta {
  margin-top: 180px;
}

/*.. 7  */

.seven {
  background-color: #fafafa;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.seven .cta {
  display: flex;
}

.project,
.talk {
  width: 50%;
  margin: 0 10px;
  border-radius: 20px;
  padding: 80px;
  text-align: center;
}

.seven .cta p {
  color: #e1e1e1;
  font-size: 1.2rem;
}

.seven .cta h2 {
  color: white;
  font-size: 3em;
  padding: 10px 0;
}

.seven .cta .input {
  width: 60%;
  padding: 18px;
  background-color: #3f3f3f;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 50px;
}

.seven .cta input {
  flex-grow: 2;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  font-size: 1.3em;
  color: #adadad;
}

.seven .cta input:hover,
.seven .cta input:focus {
  outline: 0;
}

.seven .cta button {
  background-color: transparent;
  border: none;
  color: #adadad;
  text-transform: uppercase;
}

.seven .cta a {
  margin-top: 50px;
  display: inline-block;
}

.clients {
  padding: 20px 0;
  display: flex;
  min-height: 300px;
}

.client {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! FOOTER  */

footer {
  min-height: 500px;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  flex-wrap: wrap;
}

footer img:first-child {
  margin-bottom: 10px;
}

footer p {
  color: gray;
  line-height: 1.6;
}

footer div {
  width: 25%;
  min-height: 400px;
  padding: 30px;
}

footer .divider {
  margin: 25px 0;
  width: 10px;
  height: 5px;
}

footer .divider::after {
  width: 45px;
  height: 5px;
}

footer h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #626262;
}

footer ul {
  list-style: none;
}

footer li {
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: grey;
}

.mail {
  margin: 20px 0;
}

.map img {
  width: 100%;
}

.socked {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 0 20px;
}

.socked i {
  margin: 0 5px;
}

.search-bar {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.search-bar input {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 3px solid lightgray;
}

.search-bar input:hover,
.search-bar input:focus {
  outline: none;
}

.search-bar i {
  font-size: 3em;
  color: white;
  position: absolute;
  right: 10%;
  top: 10%;
}

.display {
  display: block;
}
