/*! GENERAL  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
span {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.btn {
  padding: 18px 45px;
  background-color: transparent;

  border-radius: 100em;
}

.green {
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, 0.35);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}

.black {
  background-image: linear-gradient(271deg, #1b1b1b 0%, #424242 100%);
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.35);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

/*! HEADER  */

.top-header {
  height: 30px;
  background-color: #3b3b3b;
  color: white;
  display: flex;
  font-size: 80%;
}

.container-header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone i {
  margin-right: 5px;
}

.top-header a {
  color: white;
  padding: 0 5px;
}

.main-header {
  height: 100px;
}

.main-header nav ul {
  display: flex;
}

.main-header nav li {
  list-style: none;
  padding: 0 15px;
  text-transform: uppercase;
}

.main-header nav a {
  text-decoration: none;
  color: #3d3d3d;
}

.cta a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-right: 30px;
}

.cta i {
  color: #02d9a5;
}

/*! JUMBO  */

.jumbo {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.jumbo-text,
.jumbo-img {
  width: 50%;
  height: 100%;
  position: relative;
}

.text-area {
  position: absolute;
  width: 75%;
  left: 15%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.jumbo-text .text-area h3 {
  text-transform: uppercase;
  color: #91e062;
  letter-spacing: 0.5em;
}

.jumbo-text .text-area h1 {
  font-size: 4em;
}

.jumbo-text .text-area span {
  color: #02d9a5;
}

.jumbo-img img {
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
}

.divider {
  height: 7px;
  width: 20px;
  background-color: transparent;
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  border-radius: 100em;
  margin: 50px 0;
  position: relative;
}

.divider::after {
  display: inline-block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: transparent;
  background-image: linear-gradient(269deg, #02d9a5 0%, #91e062 100%);
  border-radius: 100em;
  position: absolute;
  left: 140%;
}

.text-area p {
  color: #393939;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: lighter;
}

.text-area a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 30px;
  text-transform: uppercase;
}

.social-text a {
  color: #393939;
  margin-top: 80px;
  font-weight: bold;
  padding: 0 15px;
}

/*! BODY  */

/*! FOOTER  */
